<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20874004291-0ghlnjelehl6eqpfqeq6cnkbengp9vvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20874004291-0ghlnjelehl6eqpfqeq6cnkbengp9vvc</string>
	<key>API_KEY</key>
	<string>AIzaSyAdsjIOOAKW3TPGdpfy_YDZ63eGojjqKVs</string>
	<key>GCM_SENDER_ID</key>
	<string>20874004291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhayaStore</string>
	<key>PROJECT_ID</key>
	<string>bhayastore-eff04</string>
	<key>STORAGE_BUCKET</key>
	<string>bhayastore-eff04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20874004291:ios:e89a6cc13d254cf984d1f6</string>
</dict>
</plist>